.env
node_modules
dist
.vscode
.DS_Store
npm-debug.log
yarn-error.log
coverage
uploads
*.local
*.log
.idea
*.iml
.env.local
.env.development.local
.env.test.local
.env.production.local
.pnp
.pnp.js
.cache
.next
out
build
.nuxt
*.tsbuildinfo
