* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    135deg,
    #eef6ff,
    /* soft blue */ #f7fbff,
    /* near white */ #f1f8f6 /* soft mint */
  );
  color: #2f3e46;
  line-height: 1.6;
  min-height: 100vh;
}

/* .card .all3card {
  margin-right: 1rem;
} */
.header {
  position: fixed;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
}

.picture-with-name {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.notification-and-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.avatar-and-name {
  display: flex;
  align-items: center;
  gap: 8px;
}
.dropdown-menu {
  height: 12rem;
  width: 12rem;
  background-color: white;
  border-radius: 1.6rem;
  /* margin:2rem; */
  margin-top: 2rem;
  margin-right: 3rem;
  padding: 0.6rem;
  position: absolute;
  cursor: "pointer";
  /* right:0; */
  transform: translateX(-100%);

  z-index: 1000;

  /* border: 1px solid rgb(52, 47, 47); */
  box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.2);
}

.dropdown-menu i {
  padding: 0.8rem;
}
.dropdown-menu > div:not(:first-child):hover {
  border: 1px solid #f5f1f1;
  border-radius: 1rem;
  background-color: #f5f1f1;
}
.dropdown-menu > div:not(:first-child) {
  /* display: grid; */
}
.dropdown-menu .dropdown-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hospitalname {
  color: blue;
}
.card {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  max-width: 100%;
}

.card div {
  height: 7.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid rgba(169, 162, 162, 0.3);
  border-radius: 1rem;
  flex: 1;
}

.searchBarr {
  padding: 0.4rem;
  border: 1px solid rgb(169, 162, 162, 0.3);
  /* width: 100vw; */
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
/* for search   */
/* This will override the autofill background in Chrome/Edge */
.MuiInputBase-input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important; /* Use your background color */
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  caret-color: black !important;
}
